body {
  background-color: #f9f9f9;
}

.container {
  margin: auto;
}

.instructions {
  background-color: #e4e4e4;
  background-image: linear-gradient(135deg, #f0f2f3 0%, #f3f3f6 100%);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid darken($off-white, 10%);
  // border-radius: 5px;
  margin-top: $lg !important;
  margin-bottom: $lg !important;
  padding: $sm $lg;

  h3 {
    color: $off-black;
    font-size: $md !important;
    text-align: center;
  }

  .lifeline {
    position: relative;
    top: -5px;
  }

  .lifeline-icon {
    color: $green;
    cursor: pointer;
  }

  .browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  img {
    width: 80%;
    height: 50%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: $md-breakpoint) {
  .instructions img {
    width: 100% !important;
    height: 150% !important;
  }
}
