//colors
$orange: #df9100;
$off-white: #f8f8f8;
$green: #57b846;
$red: #ea4355;
$blue: #1da1f2;
$purple: #673ab7;

//sizes
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

$button-radius: 30px;

$poppins: "Poppins", sans-serif;
